.banner {
    position: relative;
    background-image: url('https://i.postimg.cc/RhMdX68z/photo-1516321497487-e288fb19713f-q-80-w-1470-auto-format-fit-crop-ixlib-rb-4-0.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 36, 68, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    text-align: center;
    z-index: 1;
    max-width: 40rem;
}

.banner-title {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.banner-description {
    font-size: 1rem;
    color: aliceblue;
    margin-bottom: 30px;
    
}

.banner-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;

}

.btn-primary {
    background-color: rgb(190, 203, 241);
    color: black;
}

.btn-primary:hover {
    background-color: dimgray;
}

.btn-secondary {
    color: navy;
}

.btn-secondary:hover {
    background-color: dimgray;
}

.feature-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    bottom: -15%;
    gap: 20px;
    width: 100%;
}

.feature {
    flex: 1 1 250px;
    max-width: 300px;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) ;   
    transition: background-color 2s ease;
    flex-direction: column;
    align-items: start;
    height: 200px;
}

.feature:hover {
    background-color: rgb(190, 203, 241);
}

.feature-icon {
    margin-bottom: 6px;
}

.feature-title {
    font-size: 1.3rem;
    margin-bottom: 14px;
}

.feature-description {
    color: rgb(32, 32, 32);
}

